
body{
	width:100%;
	background-color:black;
	margin:0px;
	overflow-x:hidden;
}
h1{
	margin-top:20px;
	font-size:1.7rem;
}
h1, h2, h3, h4, h5, p, a, div, button{
	color:inherit, #777777;
	font-family: 'Signika', sans-serif;
}
h5{
	font-size:1.6em;
	font-weight:bold;
	margin-bottom:16px;
}
h2{
	margin-top:4px;
}
#Wrapper{
	overflow-x:hidden;
	box-sizing:border-box;
	height:auto;
	width:100%;
	background-color:#111111;
}
#Main{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#111111;
}
#Header{
	overflow:hidden;
	z-index:1000;
	color:#bfbfbf;
	display:block;
	width: 100%;
	height:10%;
	position:fixed;
	padding:0px 80px 0px 50px;
	background-color: #101010;
	border-bottom:2px solid white;

}
.HeaderSlogan{
	display:inline-block;
	color:white;
	font-size:1.5em;
	font-weight:300;
	margin-top:14px;
}
.SearchBarOuter{
	font-size:2em;
	background-color:white;
	position:relative;
	display:inline-block;
	height:50%;
	width:200px;
	margin-top:-6px;
	margin-right:20px;
	padding-left:24px;
}
.fa-search{
	position:absolute;
	top:5px;
	left:6px;
	
}
.SearchBar{
	border:none;
	padding:6px;
}
.SearchBar:focus{
	outline:none;
}
#Header img{
	width:20% !important;
}
.Login{
	font-size:0.9em;
	float:right;
	width:auto;
	height:100%;
	padding:20px 50px 20px 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:10%;
}
.LoginInfo{
	display:inline-block;
}
.HeaderInfo{
	color: #bfbfbf;
	display:inline-block;
}
#Sidebar{
	display:none;
}
.MobileNav{
	border: 4px solid grey;
	border-radius:20px;
	display:inline-block;
	transition-duration:0.5s;
	box-sizing:border-box;
	font-size:3em;
	color:#bbb;
	padding: 12px 0px 4px 0px;
	width:10%;
	height:100%;
	background-color:#101010;
}
.MobileNavDrop{
	width:140px;
	padding:20px 0px 0px 10px;
	box-sizing:border-box;
	background-color:#101010;
	text-align:left;
	display:none;
	border-top: 2px solid black;
}
.MobileNav:hover{
	width:140px;
}
.MobileNav:hover .MobileNavDrop{
	display:block;
}
.Logo{
	
	width:120px;
}
#Video1{
	width:100%;
	background-size:cover;
	margin-top:-20px;
}
.videoVolume{
	color:#777;
	width:30px;
	height:30px;
	position:absolute;
	top:60px;
	left:130px;
	font-size:1.4em;
}
.Welcome{
	width:auto;
	height:400px;
	display:none;
	position:absolute;
	left:50%;
	margin-left:-260px;
	top:40%;
	color:white;
	font-size:2em;
}
.Section{
	border-bottom:4px solid white;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:100vh;
}
.SectionInfo{
	padding:20px;
	Color:white;
	display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
}
.SectionImages2{
	display:inline-block;
	width:30%;
	overflow:hidden;
	height:100%;
	background-color:white;
	
}
.SectionImage{
	width:100%;
	height:33vh
}
.SectionInfo h1{
	margin-bottom:20px;
	padding:20px 30px 10px 0px;
	width:auto;
	color:white;
	font-size:4em;
	font-weight:1000;

}

#Section1{
	background-color: rgba(10,10,10,1);
	overflow:hidden;
	border:none;
}
#Section2{
	background-image: url("../assets/SectionBG/B1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
.SectionImages{
	width:160vh;
	height:100%;
	background-color: rgba(255,255,255,0);
}
#SectionShadow{
	position:absolute;
	top:0px;
	width:100%;
	height:400px;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}
#Section2 img{
	display:inline-block;
	width:50vh;
	height:50%;
}
#Section3{
	background-image: url("../assets/SectionBG/B2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	padding:100px;
}
#Section4{
	background-image: url("../assets/SectionBG/B3.jpg");
	background-repeat:no-repeat;
	background-size: auto 100%;
	
}
#Section5{
	overflow:hidden;
	box-sizing:border-box;
	position:relative;
	border-bottom:6px solid #777;
	background-color:black;
	
}
#ShoeSliderIndex{
	width:100%;
	height:100%;
}
#Circle1{
	background-color:white;
}
.ShoeInfo{
	box-sizing:border-box;
	padding:100px;
}
.ShoeInfo H1{
	box-sizing:border-box;
	display:inline;
	padding:20px 20px 10px 0px;
	width:auto;
	color: white;
	font-size:4em;
	font-weight: 1000;
}

.ShoeInfoBuyNow{
	display:inline;
	padding:14px;
	width:auto;
	color: black;
	background-color:white;
	margin-top:10px;
	font-size:1em;
	font-weight: 300;
}

.ShoeInfoBuy{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.ShoeInfoDescription{
	font-weight: 400;
	color:white;
	font-size:2em;
}
#ShoeInfo1{
	display:block;
	background: url("../assets/ShoeInfo/ShoeB1.jpg") no-repeat center center;
	background-size:cover;
	height:100%;
}
#ShoeInfo2{
	display:none;
	background: url("../assets/ShoeInfo/ShoeB2.jpg") no-repeat center center;
	background-size:cover;
	height:100%;
}
#ShoeInfo3{
	display:none;
	background: url("../assets/ShoeInfo/ShoeB3.jpg") no-repeat center center;
	background-size:cover;
	height:100%;
}

.backgroundSlider{
	height:40px;
	box-sizing:content-box;
	margin:0;
	width:180px;
	height:auto;
	position:absolute;
	left:50%;
	margin-left: -120px;
	border:2px solid black;
	bottom:10px;
	border-radius:6px;
}
.slider{
	box-sizing:border-box;
	height:40px;
	padding: 4px 6px 0px 6px;
	width:20%;
	text-align:center;
	display:inline-block;
	background-color:black;
	color:white;
	font-size:2em;
}
.markerCircle{
	border-radius:50%;
	background-color:#999;
	height:14px;
	width:14px;
	display:inline-block;
}
.Reveal{
	width:100%;
	height:100%;
	position:absolute;
	background-color:black;
}
#R1{
	margin: -100px;
}
.ContentBox{
	display:inline-block;
	width:500px;
	height:250px;
	border: 1px solid #003061;
	padding: 0px 20px 0px 20px;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	color: #777777;
	transition-duration:2s;
	background-color: rgba(30,30,30, 0.6);
	display:none;
}
.Box1{
	width:700px;
	float:left;
	height:210px;
	overflow:hidden;
}
.ContentBox:hover{
	color: #bbbbbb;
}
.Shoe{
	width:150px;
	height:150px;
	display:inline-block;
	float:right;
}
.GazelleText{
	margin-top:20px;
	float:left;
	width:500px;
	height:100%;
	display:inline-block;
}
#Footer{
	height:450px;
	width:100%;
	background-color: #ffffff;
	box-sizing:border-box;
}
.TopLinks{
	position:relative;
	height:350px;
	width:auto;
	box-sizing:border-box;
	padding-top:50px;
}
.TopLinksInner{
	position:absolute;
	left:50%;
	margin-left:-450px;
	height:auto;
	top:20%;
	box-sizing:border-box;
	padding:20px;
}
.BottomLinks{
	height:100px;
	width:100%;
	box-sizing:border-box;
	margin:auto;
	background-color: #333;
	position:relative;
}
.BottomFooterul{
	left:50%;
	margin-left:-250px;
	position:absolute;
	top:40%;
}
.Bottomlink{
	display:inline-block;
}
.Bottomlink a{
	color:white;
}
.Footerlink{
	margin-bottom:4px;
	font-size:0.8em;
	font-weight:300;
	padding-bottom:2px;
}
.Footerul{
	margin-right:50px;
	display:inline-block;
}
.SideNavUl{
	width:140px;
	margin: 20px 20px auto 20px;
	box-sizing:border-box;
	display:inline-block;
	font-size:0.8em;
}
.SideNavH1{
	text-align:center;
	margin-bottom:0px;
	font-size:1.6em;
	color:black;
	font-weight:bold;
}
.SideNavH1:after {
  margin-top: 10px;
  content: "\a0";
  display: block;
  padding: 6px 0;
  line-height: 1px;
  border-top: 1px solid #000;
}
.SideNavH2{
	margin-bottom:20px;
	font-size:1.2em;
	font-weight:900;
	color:black;
	font-weight:bold;
}
.SideNavLink{
	margin-bottom:16px;
	display:block;
	font-weight:300;
}

/* PRODUCT PAGES  */

.ProductPageSection{
	padding-top:10%;
	height:auto;
	overflow:hidden;
	box-sizing:border-box;
	color:white;
	border-bottom:10px solid #eceff1;
}
.ProductTitle{
	font-weight:1000;
	margin:0px;
	color:black;
	background-color:white;
	padding:20px;
	display:inline-block;
	font-size:3.6em;
}
.ProductPageSectionDisplay{
	padding-top:20px;
	display:inline-flex;
	width:100%;
	height:850px;
	background-color:white;
}
.ProductPageSectionDetails{
	padding:60px 0px 60px 0px;
	width:100%;
	height:auto;
	background-color:white;
}
.ProductDetails{
	padding-right:100px;
	color:black; 
	font-weight:1000;
	font-size:3em;
}
.ProductDetails2{
	padding:60px 100px 60px 0px;
	margin:auto;
	width:1200px;
	height:auto;
	color:black;
	font-weight:800;
}
.ProductDetails3{
	margin:auto;
	padding-right:100px;
	width:1200px;
}
.ProductDetails3 video{
	width: 90vw;
}
.ProductDetailsInfo{
	width:400px;
	display:inline-block;
	text-align:left;
	margin-right:200px;
}
.ProductDetailsImage{
	display:inline-block;
	width:400px;
	height:400px;
}
.ProductPageDefault{
	padding-top:10px;
	width:100%;
	margin:auto;
	text-align:center;
	min-height:900px;
	background-color:white;
}
#ProductImagesLarge{
	margin-right:5px;
	height:850px;
	width:850px;
	overflow:hidden;
}
.ProductImageLarge{
	height:100%;
	display:none;
}
#ProductImagesSmall{
	height:850px;
	width:200px;
	min-width:200px;
	overflow:scroll;
	overflow-x:hidden;
}
.ProductImageSmall{
	box-sizing:border-box;
	width:100%;
	margin-bottom:5px;
}
#ProductDescription{
	text-align:left;
	border-left:1px solid #ebecf1;
	height:700px;
	width:auto;
	color:black;
	padding:20px;
	margin-right:100px;
}
#ProductColours{
	padding:20px 0px 20px 10px;
}
.ProductColour{
	box-sizing:border-box;
	width:80px;
	height:80px;
	margin-right:20px;
	display:inline-block;
	border-radius:50%;
	background-size: 100% 100%;
	background-color:grey;
}
#Colour0{
	border: 1px solid black;
}
.BreadCrumbs{
	box-sizing:border-box;
	padding: 10px 0px 10px 20px;
}
.Crumb{
	font-weight:200;
	margin-right:20px;
	display:inline-block;
	color:white;
	
}
#CartRecent{
	box-sizing:border-box;
	top:52px;
	width:300px;
	position:fixed;
	z-index:1;
	height:80px;
	background-color:white;
	right:10px;
	color:black;
	display:none;
	border:1px solid black;
	text-align:left;
	overflow:hidden;
}
.RecentCartText{
	display:inline-block;
	padding:6px 0px 0px 10px;
}
.RecentCartDetails{
	font-size:0.7em;
	font-weight:300;
	display:block;
}
#CartRecent img{
	display:inline-block;
	height:80px;
	width:80px;
	
}

.DefaultMessage{
	width:100%;
	height:100px;
	text-align:center;
	color:black;
	padding:200px 20px 20px 10px;
	box-sizing:border-box;
	margin-left:-50px;
}
.AvailableProducts{
	box-sizing:border-box;
	height:100%;
	padding:100px 200px 200px 100px;
}
.AvailableProduct{
	overflow:hidden;
	box-sizing:border-box;
	margin-right:10px;
	height:260px;
	width:200px;
	display:inline-block;
}
.AvailableProduct:hover{
	border:1px solid grey;
	height:auto;
}

.AvailableProductImage{
	width:200px;
	height:200px;
	background-image: url("../assets/Shoes/Default.png");
	background-size: 100% auto;
}

.AvailableProductTitle{
	color:black;
	text-align:left;
	padding:6px;
	font-size:1.2em;
}
.AvailableProductRating{
	overflow:hidden;
	color:black;
	text-align:left;
	padding:6px;
	font-size:1em;
}
.AvailableProductDescription{
	color:black;
	text-align:left;
	padding:6px;
	font-size:1em;
	font-weight:100;
}
#SizeChart{
	box-sizing:border-box;
	width:600px;
	height:200px;
	padding:20px;
}
.Size{
	text-align:center;
	box-sizing:border-box;
	width:80px;
	height:40px;
	font-weight:300;
	font-size:1.2em;
	display:inline-block;
	border:1px solid grey;
	padding:10px;
	margin-bottom:6px;
	
}
.CartButton{
	margin-left:20px;
	background-color:black;
	color:white;
	padding:20px;
	
}
#ProductPrice{
	display:inline-block;
	margin-bottom:10px;
}
#DropDownQuantity{
	font-size:1.2em;
	padding:14px 10px 10px 10px;
	width:50px;
	height:100%;
	display:inline-block;
	background-color:white;
}

.ProductQuantity{
	float:right;
	display:inline-block;
	border:1px solid grey;
	box-sizing:border-box;
	width:auto;
	height:auto;
	position:relative;
}
#SelectedQuantity{
	display:inline-block;
	padding:14px 10px 14px 10px;
}
#OtherQuantitys{
	display:none;
	z-index:1;
	position:absolute;
	background-color:white;
	width:80px;
	left:-1px;
	border:1px solid grey;
	height:200px;
	overflow:scroll;
	overflow-x:hidden;
}
.Quantity{
	padding:14px 10px 14px 10px;
	border-top:1px solid rgba(232,232,235,0.7);
}
.ProductLine{
	text-align:left;
	color:#222;
	padding-left:20px;
	font-size:1em;
	font-weight: 400;
}
#ShoppingCart{
	color:black;
	text-align:left;
	margin:auto;
	width:50%;
	height:auto;
}
#ProductHolder{
	box-sizing:border-box;
	display:inline-block;
	border-top:1px solid rgba(70,70,70,0.7);
	padding:20px 20px 0px 0px;
	width:60%;
	height:auto;
}
.CartProduct{
	overflow:hidden;
	box-sizing:border-box;
	margin-bottom:10px;
	width:100%;
	height:140px;
	border-bottom: 1px solid rgba(70,70,70,0.7);
	padding:10px;
	position:relative;
}
.CartProductDescription{
	display:inline-block;
	padding:0px 10px 10px 10px;
}
.CartProduct p{
	font-weight:300;
}
.CartDelete{
	position:absolute;
	bottom:6px;
	font-weight:500;
	text-decoration:underline;
}
.CartPrice{
	position:absolute;
	bottom:6px;
	right:20px;
}
#CartSummary{
	padding:20px;
	box-sizing:border-box;
	margin-left:5%;
	display:inline-block;
	width:34%;
	border:1px solid rgba(70,70,70,0.7);
	height:100%;
}
#CartSummary p{
	padding:6px;
	font-weight:300;
}
#LoginBox{
	color:black;
	text-align:center;
	padding:40px 80px 80px 80px;
	box-sizing:border-box;
	background-color:white;
	border-radius:40px;
	height:100%;
}
#LoginBoxOuter{
	background-color:transparent;
	border: 30px solid rgba(255, 255, 255, .3);
	position:absolute;
	top:50%;
	left:50%;
	width:50vh;
	height:50vh;
	margin-top:-25vh;
	margin-left:-20vh;
	border-radius:40px;
}
.LoginInput{
	margin:10px 0px 10px 0px;
	Color:black;
	padding:6px;
}
.SubmitButton{
	font-size:1.2em;
	border:none;
	padding:14px;
	background-color:black;
	color:white;
	margin-top:20px;
}
	